name: Infra + App Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform
      - name: Export SSH Key
        run: |
          echo "EC2_SSH_KEY<<EOF" >> $GITHUB_ENV
          terraform output -raw ec2_private_key >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
        working-directory: terraform

      - name: Get EC2 IP
        id: ip
        run: |
          echo "EC2_IP=$(terraform output -raw ec2_public_ip)" >> $GITHUB_ENV
        working-directory: terraform

      - name: Install & Deploy App
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ env.EC2_IP }}
          username: ec2-user
          key: ${{ env.EC2_SSH_KEY }}
          script: |
            sudo yum update -y
            sudo yum install nginx -y
            sudo systemctl start nginx
            sudo systemctl enable nginx
            sudo rm -rf /usr/share/nginx/html/*

      - name: Copy HTML files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.EC2_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "MultiHubApp/*"
          target: "/usr/share/nginx/html"
